<h2 class="font-bold text-xl mb-4">Create new signage panel</h2>
<div>
  <%= form_with model: @signage_panel, url: admin_signage_panels_path do |f| %>
    <%= f.label :name, "åå‰", class: "block text-lg font-bold mb-2" %>
    <%= f.text_field :name, class: "block rounded mb-4 w-52" %>
    <%= f.submit "Create panel", class: "block border shadow border-gray-500 rounded px-4 py-2 cursor-pointer" %>
  <% end %>
</div>
