# For session store, Action Cable
REDIS_URL=redis://localhost:6379/0

SENTRY_DSN=https://xxxxxxxxxxxxxxxx.ingest.sentry.io/00000000000
SENTRY_ENV=staging # or production (if not set, used Rails.env)

# https://scoutapm.com/docs/ruby/configuration#environment-variables
SCOUT_KEY=YOURKEY
SCOUT_NAME=YOURAPPNAME
