<nav class="min-h-screen pt-4 border-r-2">
  <section class="p-4">
    <h1 class="font-bold text-xl">ConferenceApp Admin</h1>
  </section>
  <section class="p-4 hover:bg-gray-100 hover:cursor-pointer">
    <span class="text-lg">
      <%= link_to "Users", admin_users_path %>
    </span>
  </section>
  <section class="p-4 hover:bg-gray-100 hover:cursor-pointer">
    <span class="text-lg">
      <%= link_to "Talks", admin_talks_path %>
    </span>
  </section>
  <section class="p-4 hover:bg-gray-100 hover:cursor-pointer">
    <span class="text-lg">Announcements</span>
  </section>
</nav>
