<nav class="min-h-screen pt-4 border-r-2">
  <section class="p-4">
    <h1 class="font-bold text-xl">ConferenceApp Admin</h1>
  </section>
  <%= link_to admin_users_path do %>
    <div class="p-4 hover:bg-gray-100 hover:cursor-pointer">
      <span class="text-lg">Users</span>
    </div>
  <% end %>
  <%= link_to admin_talks_path do %>
    <div class="p-4 hover:bg-gray-100 hover:cursor-pointer">
      <span class="text-lg">Talks</span>
    </div>
  <% end %>
  <%= link_to admin_announcements_path do %>
    <div class="p-4 hover:bg-gray-100 hover:cursor-pointer">
      <span class="text-lg">Announcements</span>
    </div>
  <% end %>
</nav>
