<%#
<div class="w-full flex justify-center">
  <div data-controller="live-streams">
    <div class="grid grid-cols-1 sm:hidden">
      <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
      <select aria-label="Select a stream" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-2 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
        <option selected>Hall Red</option>
        <option>Hall Blue</option>
      </select>
      <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end fill-gray-500 dark:fill-gray-400">
        <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
      </svg>
    </div>
    <div class="hidden sm:block">
      <nav aria-label="Tabs" class="flex space-x-4">
        <!-- Current: "bg-gray-100 dark:bg-white/10 text-gray-700 dark:text-gray-200", Default: "text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-200" -->
        <button data-action="live-streams#updateCurrentTab" data-live-streams-tab-param="red" class="rounded-md px-3 py-2 text-sm font-medium text-theme-primary hover:text-theme-primary hover:cursor-pointer">Hall Red</a>
        <button data-action="live-streams#updateCurrentTab" data-live-streams-tab-param="blue" class="rounded-md px-3 py-2 text-sm font-medium text-theme-primary hover:text-theme-primary">Hall Blue</a>
      </nav>
    </div>
  </div>
</div>
%>

<div class="w-full flex justify-center pt-6">
  <p class="text-4xl">🚧under construction🚧</p>
</div>
