<div data-controller="live-streams" data-live-streams-url-value="<%= @live_stream.url %>" class="w-full flex justify-center">
  <div class="lg:w-4/5 md:w-full md:px-2">
    <video id="video" controls autoplay muted class="w-full"></video>
  </div>
</div>
