<div class="w-full max-w-screen-xl pt-4 px-4 pb-6">
  <div class="w-full flex flex-col">
    <div class="w-2/3 mx-auto">
      <%= image_tag @profile.images.first, class: "rounded-lg mb-3" %>
    </div>
    <div class="px-4">
      <h2 class="font-bold text-3xl mb-4"><%= @profile.name %></h2>
      <div class="markdown"><%= @profile.sanitized_description %></div>
    </div>
  </div>
</div>
