<div class="w-full" data-controller="signage-devices">
  <div class="flex flex-col mx-auto w-1/3 pt-6">
    <h2 class="font-bold text-xl mb-4">Determine signage device</h2>
    <select id="deviece-select" data-signage-devices-target="select">
      <% @signage_devices.each do |device| %>
        <option value=<%= device.id %>><%= device.device_name %></option>
      <% end %>
    </select>
    <button data-action="click->signage-devices#submitDevice">Set device</button>
  </div>
</div>
