<div data-controller="signages" class="w-full h-full flex justify-center items-center bg-black">
  <div data-signages-target="page" class="w-full aspect-16/9 bg-contain bg-no-repeat" data-action="click->signages#toggleFullscreen"></div>
</div>
