<h2 class="font-bold text-xl mb-8">Create new live</h2>
<div class="pr-8">
  <div class="mb-8">
    <%= form_with model: @cloudflare_stream_live_stream, url: admin_live_streams_path do |f| %>
      <%= f.label :uid, "uid", class: "block text-lg font-bold mb-2" %>
      <%= f.text_field :uid, class: "block rounded mb-4 w-[40rem]" %>
      <%= f.submit "Create", class: "block border shadow border-gray-500 rounded px-4 py-2 cursor-pointer" %>
    <% end %>
  </div>
</div>
