<div class="w-full h-screen">
  <div data-controller="subscreen" data-subscreen-shirataki-url-value="<%= @shirataki_url %>" data-subscreen-room-value=<%= @room %> class="h-full grid grid-rows-2 gap-4 p-4 bg-[var(--color-text-primary)]">
    <div data-subscreen-target="jaTranscribe" class="bg-[var(--color-background)] p-4 overflow-y-auto border border-gray-600 rounded"></div>
    <div data-subscreen-target="enTranscribe" class="bg-[var(--color-background)] p-4 overflow-y-auto border border-gray-600 rounded"></div>
  </div>
</div>
