<div class="flex flex-col">
<section>
<h2>Conference Appについて</h2>
<p>このアプリは、Kaigi on Rails 2023に参加する皆様がイベントをより楽しく過ごせるように作成されたRailsアプリケーションです。</p>
<p>以下の機能を提供します。</p>
<ul>
<li>セッションの一覧機能</li>
<li>運営からのアナウンス</li>
<li>プロフィール登録・交換</li>
</ul>
<p>このアプリの機能を活用していただくためには、GitHubアカウントでログインしていただく必要があります。</p>
<% unless logged_in? %>
  <p>以下のボタンから、GitHubアカウントでのログインをお願いします。</p>
  <%= form_tag "/auth/github", method: :post, data: { turbo: false } do %>
    <%= submit_tag "Login with GitHub" %>
  <% end %>
<% end %>
<section>
  <h3>セッションの一覧機能</h3>
  <p>PCでは右上のアイコンを押すとメニューが開き、そこから「Sessions list」をクリックすることでセッションの一覧を見ることができます。</p>
  <p>スマートフォンでは下の「Timetable」をタップすることでセッションの一覧を見ることができます。</p>
  <p>セッションはブックマークすることができます。</p>
</section>
<section>
  <h3>運営からのアナウンス</h3>
  <p>カンファレンスの進行について、運営側から参加者の皆さまに向けてアナウンスを行うことがあります。それらのアナウンスを確認することができます。</p>
  <p>アナウンスについてはログインせずに見ていただくことができます。ログインし、通知を有効にしている場合は新規のアナウンス時に通知されます。</p>
</section>
<section>
  <h3>プロフィール登録・交換</h3>
  <p>Conference Appには、あなたのプロフィールを登録することができます。</p>
  <p>登録したプロフィールは、QRコードで他の参加者の方と交換することができます。SNSアカウントの共有などでご活用ください。u</p>
</section>
</section>
</div>

