on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*" # for test
jobs:
  build:
    runs-on: ubuntu-latest
    # if: "${{ github.repository == 'kaigionrails/conference-app' }}"
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-west-2
          role-skip-session-tagging: false
          role-to-assume: "arn:aws:iam::861452569180:role/GhaDockerPushToEcr"
      - id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: "${{ steps.login-ecr.outputs.registry }}/conference-app"
          tags: |
            type=sha,prefix=
            type=raw,value=latest
      - uses: docker/build-push-action@v5
        with:
          context: "."
          platforms: linux/amd64
          push: true
          tags: ${{ steps.meta.outputs.tags }}

  deploy:
    runs-on: ubuntu-latest
    needs: ["build"]
    steps:
      - run: echo "deploy job"
