<nav class="py-2 z-50 w-full h-16 bg-white">
  <div class="grid h-full max-w-lg grid-cols-2 mx-auto">
    <button type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group border-stone-200 border-r">
      <svg class="w-5 h-5 mb-2 text-gray-500 dark:text-gray-400 group-hover:text-red-900 dark:group-hover:text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" className="w-6 h-6">
        <path fillRule="evenodd" d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z" clipRule="evenodd" />
      </svg>
      <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-red-900 dark:group-hover:text-red-500">Timetable</span>
    </button>
    <button type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group">
      <svg class="w-5 h-5 mb-2 text-gray-500 dark:text-gray-400 group-hover:text-red-900 dark:group-hover:text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" className="w-6 h-6">
        <path d="M4.5 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM14.25 8.625a3.375 3.375 0 116.75 0 3.375 3.375 0 01-6.75 0zM1.5 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM17.25 19.128l-.001.144a2.25 2.25 0 01-.233.96 10.088 10.088 0 005.06-1.01.75.75 0 00.42-.643 4.875 4.875 0 00-6.957-4.611 8.586 8.586 0 011.71 5.157v.003z" />
      </svg>
      <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-red-900 dark:group-hover:text-red-500">Profile</span>
    </button>
  </div>
</nav>
